<ion-view title="Tactics">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header board">
    <div ng-show="stacks && (stacks.length > 0)">
      <div class="row" style="position:absolute; top: 100px;">
        <div class="col" ng-repeat="stack in stacks" on-tap="takeCoin($index)">
          <img ng-repeat="coin in range(stack.coins) track by $index" ng-src="img/coin.png" ng-class="getCss($parent.$index, $index)"></img>
        </div>
      </div>

      <div class="row" style="position:relative; top: 200px;">
        <button on-tap="next()">Take Coins</button>
      </div>

      <div class="row" ng-repeat="powerupRow in powerups" style="position:relative; top: 250px;">
        <div class="col" ng-repeat="powerup in powerupRow">
          <div class="powerup w3-card-4" ng-click="setPowerup(powerup.action)">{{powerup.name}}</div>
        </div>
      </div>
    </div>
    <div ng-show="!stacks || (stacks.length === 0)">
      <br>
      <center><button on-tap="findGame()">Find Game</button></center>
    </div>
  </ion-content>
</ion-view>
