<ion-view title="Tactics">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header board">
    <div ng-show="stacks && (stacks.length > 0)">
      <div class="row" style="position:absolute; top: 100px;">
        <div class="col" ng-repeat="stack in stacks" on-tap="takeCoin($index)">
          <img ng-repeat="coin in range(stack.coins) track by $index" ng-src="img/coin.png" ng-class="getCss($parent.$index, $index)" ng-style="getStyle($parent.$index, $index)"></img>
        </div>
     
        <!--<div class="row">
          <label style="background-color:white">Powerups</label>
          <select ng-options="powerup.name for powerup in allpowerups" ng-model="optionselection">
          </select>
        </div>-->
      </div>

      <div class="row" style="position:relative; top: 200px;">
        <button on-tap="next()">Take Coins</button>
        <button on-tap="doReset(true)">Reset your stack</button>
      </div>

      <!--<div class="row" style="position:relative; top: 200px;">
        <button on-tap="test()">name</button>
      </div>-->

      <div class="row" style="position:relative; top: 220px;">
        <div style="background-color: white;color: red">{{ message }}</div>
      </div>

      <div class="row" style="position:relative; top: 250px;">
        <div class="col" ng-repeat="powerup in powerups">
          <div ng-class="powerupClass(powerup.name)" ng-click="setPowerup(powerup)">{{ powerup.name }}
            <div style="position:absolute;bottom:0;padding-left:10px;padding-bottom:10px;">
              <i ng-click="showPowerupDescription(true)" class="icon ion-information"></i>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div ng-show="!stacks || (stacks.length === 0)">
      <br>
      <center><div style="background-image: url('img/title.png'); width:189px; height:108px;"></div></center>
      <center><div style="width:250px; height:70px;"</div></center>
      <center><div style="background-image: url('img/play_in_person.png'); width:250px; height:70px;" on-tap="findGame()"></div></center>
      <!--<center><div style="background-image: url('img/play_online.png'); width:250px; height:70px;"></div></center>-->
    </div>
  </ion-content>
</ion-view>
