<ion-view title="Tactics">
  <ion-content class="board">
    <div ng-show="state === 'createGame'">
      <div class="list-inset" style="background-color:transparent !important;">
        <label><div style="background-image: url('img/number_of_stacks.png'); width:232px; height:16px;"></div></label>
        <div>
          <input type='range' id='r1' class='tip fill fill-replace' 
               min='1' max='6' ng-model="gameInit.numberOfStacks" type="number" ng-init="gameInit.numberOfStacks=3" convert-to-number style="width:100%" />
          <div class="row" style="position:absolute; top: 140px;">
            <div class="col" ng-repeat="stack in range(gameInit.numberOfStacks) track by $index">
              <div ng-repeat="coin in range(gameInit.coinsPerStack[$index]) track by $index" ng-style="getStyle($parent.$index, $index)"><img src="img/coin.png" style="position:relative;left:-15px"></img></div>
            </div>
          </div>
       
          <div class="row" style="height: 150px">
          </div>

          <div class="row">
            <div class="col" ng-repeat="stack in range(gameInit.numberOfStacks) track by $index">
              <div style="margin-right:auto;margin-left:auto;">
              <div style="background-image: url('img/up_arrow.png'); width:37px; height:19px;" on-tap="incStack($index)"></div>
              <div style="background-image: url('img/numberwang.png'); width:40px; height:40px;position:relative;top:1px;"><div class="container4"><p>{{ gameInit.coinsPerStack[$index] }}</p></div></div>
              <div style="background-image: url('img/down_arrow.png'); width:37px; height:19px;" on-tap="decStack($index)"></div>
            </div>
            </div>
          </div>
        
          <div class="row" style="height: 30px">
          </div>

          <div class="row">
            <input type="checkbox" id="c1" name="cc" />
            <label for="c1"><span></span><div style="display:inline-block;vertical-align:top;background-image: url('img/check_this_box.png'); width:207px; height:38px;"></div></label>
          </div>

          <div class="row" style="height: 40px">
          </div>

          <div class="row">
            <div style="background-image: url('img/create_game.png'); width:250px; height:70px;margin-left:auto;margin-right:auto;" on-tap="newGame()"></div>
          </div>
       
        </div>
      </div>
    </div>
    
    <div ng-show="stacks && (stacks.length > 0)">
      <div class="row" style="position:absolute; top: 100px;">
        <div class="col" ng-repeat="stack in stacks" on-tap="takeCoin($index)">
          <img ng-repeat="coin in range(stack.coins) track by $index" ng-src="img/coin.png" ng-class="getCss($parent.$index, $index)" ng-style="getStyle($parent.$index, $index)"></img>
        </div>
     
      </div>
      
       
    <!-- My attempt at adding player heading --> 
    <div class="row">
      <!--<h1 style="background: white;">{{ GameState.player ? "Player Two" : "Player One" }}</h2>-->
      <h1 style="margin-left:auto;margin-right:auto;color: white; text-align: center;">{{ currentPlayer }}</h1>  
    </div> 

      <div class="row" style="height:200px">
      </div>
  
      <div class="row">
        <button on-tap="next()">Take Coins</button>
        <button on-tap="doReset(true)">Reset your stack</button>
        <button ng-hide="shownCards" on-tap="showCards()">Draw Powerups</button>
      </div>
  
      <div class="row">
        <div style="background-color: white;color: red">{{ message }}</div>
      </div>
  
      <div class="row" ng-show="shownCards">
        <div class="col" ng-repeat="powerup in powerups">
          <div ng-class="powerupClass(powerup.name)" on-tap="setPowerup(powerup)">{{ powerup.name }}
            <div style="position:absolute;bottom:0;padding-left:10px;padding-bottom:10px;" on-tap="togglePowerupDescription(powerup, true); $event.stopPropagation()">
              <i class="icon ion-information"></i>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  
    <div ng-show="state === 'mainMenu'">
      <br>
      <center><div style="background-image: url('img/title.png'); width:189px; height:108px;"></div></center>
      <center><div style="width:250px; height:70px;"</div></center>
      <center><div style="background-image: url('img/play_in_person.png'); width:250px; height:70px;" on-tap="findGame()"></div></center>
      <!--<center><div style="background-image: url('img/play_online.png'); width:250px; height:70px;"></div></center>-->
    </div>
  </ion-content>
</ion-view>
