<div class="modal">
  <ion-header-bar>
    <h1 class="title">Select Game</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeOptions()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list type="list-inset">
      <label>Number of coin stacks</label>
      <input ng-model="gameInit.numberOfStacks" type="number" convert-to-number></input>
        <div ng-show="gameInit.numberOfStacks < 3 || gameInit.numberOfStacks > 10">
          <span>input a number between 3 and 10</span>
        </div>
        <div class="col" ng-repeat="i in range(gameInit.numberOfStacks) track by $index">
          <label>Number of coins in the stack</label>
          <select ng-model="gameInit.coinsPerStack[$index]" convert-to-number>
            <option ng-repeat="val in [1,2,3,4,5,6,7,8,9,10]" value="{{val}}">{{val}}</option>
          </select>
        </div>
      </div>
      <button ng-click="newGame()">Create a game</button>
    </ion-list>
  </ion-content>
</div>


