<div class="modal">
  <ion-header-bar>
    <h1 class="title">Select Game</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeOptions()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list type="list-inset">
    <label>Number of coin stacks</label>
    <!-- think of non-intrusive design to inform as to min and max stack number-->
    <div>
      <input data-ng-model="gameInit.numberOfStacks" type="number" ng-init="gameInit.numberOfStacks=3"></input>
        <div>
          <span style="background-color: white; color: red;">{{ stacksValidationMessage }}</span>
        </div>
        <div class="col" ng-repeat="i in range(gameInit.numberOfStacks) track by $index">
          <label>Number of coins in the stack</label>
          <select ng-init="gameInit.coinsPerStack[$index] = $index+3" ng-options="val for val in [1,2,3,4,5,6,7,8,9,10]" ng-model="gameInit.coinsPerStack[$index]" convert-to-number>
          </select>
        </div>
      </div>
      <button ng-click="newGame()">Create a game</button>
    </ion-list>
  </ion-content>
</div>


