/* Empty. Add your own CSS if you like */

img.invis {
  display:none;
}

img.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

img {
  width: 50px;
  height: 50px;
}

.zero-zero {
  position: absolute;
}

.zero-one {
  position: absolute;
  top: -11px;
}

.zero-two {
  position: absolute;
  top: -32px;
}

.one-zero {
  position: absolute;
}

.one-one {
  position: absolute;
  top: -11px;
}

.one-two {
  position: absolute;
  top: -32px;
}

.one-three {
  position: absolute;
  top: -53px;
}

.two-zero {
  position: absolute;
}

.two-one {
  position: absolute;
  top: -11px;
}

.two-two {
  position: absolute;
  top: -32px;
}

.two-three {
  position: absolute;
  top: -53px;
}

.two-four {
  position: absolute;
  top: -74px;
}
