/* Empty. Add your own CSS if you like */

img.invis {
  display:none;
}

img.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

img {
  width: 80px;
  height: 80px;
}

.board {
  background-image: url("/img/bg.jpg");
}

.zero-zero {
  position: absolute;
}

.zero-one {
  position: absolute;
  top: -4px;
}

.zero-two {
  position: absolute;
  top: -18px;
}

.one-zero {
  position: absolute;
}

.one-one {
  position: absolute;
  top: -4px;
}

.one-two {
  position: absolute;
  top: -18px;
}

.one-three {
  position: absolute;
  top: -31px;
}

.two-zero {
  position: absolute;
}

.two-one {
  position: absolute;
  top: -4px;
}

.two-two {
  position: absolute;
  top: -18px;
}

.two-three {
  position: absolute;
  top: -31px;
}

.two-four {
  position: absolute;
  top: -46px;
}
