/* Empty. Add your own CSS if you like */

@font-face {
  font-family: "milkmustache";
  src: url("../fonts/milk-mustache-bb.bold.ttf") format("truetype");   
}

@font-face {
  font-family: "milkmustachereg";
  src: url("../fonts/milk-mustache-bb.regular.ttf") format("truetype");   
}

div.container4 p {
    margin: 0;
    position: absolute;
    font-family: Lato;
    font-size: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.w3-card-4 {
  background-color: white;
  height: 100px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}

.w3-card-4.grayscale {
  background-color: gray;
}

img.invis {
  display:none;
}

img.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

img {
  width: 60px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.board {
  background-image: url("../img/bg.jpg");
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:28px;
    height:28px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/checkboxes.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../img/checkboxes.png) -26px top no-repeat;
}
